body { 
    font-family: 'customFont'; 
}

.login_page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    display: none;
}

.checkbox {
    display: none;
}

form {
    --background-btn: linear-gradient(90deg, rgb(94, 240, 36) 0%, rgb(70, 233, 176) 100%);
    --background-btn-active: linear-gradient(90deg, rgba(255,201,0,1) 0%, rgb(253, 112, 65) 100%);

    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    row-gap: 10px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px 1px grey;
    margin-top: 50px;
    transition: all 0.5s linear;
}

form input {
    border: inherit;
    background-color: rgb(233, 233, 233);
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'customFont';
}

form input:invalid:not(:placeholder-shown) {
    background-color: rgb(233, 233, 233);
}

form button {
    border: inherit;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'customFont';
    user-select: none;
}

.login_form button {
    background: var(--background-btn);
}

.login_form button:hover:hover {
    background: var(--background-btn-active);
}

.signup_form button {
    background: var(--background-btn-active);
}

.signup_form button:hover:hover {
    background: var(--background-btn);
}

/* .checkbox:checked + .slider::before {
    left: 80px;
    background-color: rgb(250, 103, 54);
} */

.login_form {
    display: none;
    background-color: rgb(78, 206, 95);
}

.signup_form {
    display: none;
    background-color: rgb(236, 155, 48);
}

.display {
    display: flex;
    animation: shown 0.8s;
}

@keyframes shown {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.checkbox:checked + .transmission::before {
    background-color: rgb(250, 103, 54);
    animation: moveTransmission 1s;
    animation-fill-mode: forwards;
}

.checkbox:checked + .signup_form {
    left: 100px;
}

.checkbox:not(:checked) + .transmission::before {
    background-color: rgb(72, 236, 7);
    animation: moveTransmissionReverse 1s;
    animation-fill-mode: forwards;
}

@keyframes moveTransmission {
    from {
        top: -37px;
        left: 0px;
    }
    40% {
        top: 0px;
        left: 0px;
    }
    60% {
        top: 0;
        left: 80px;
    }
    to {
        top: 37px;
        left: 80px;
    }
}

@keyframes moveTransmissionReverse {
    from {
        top: 37px;
        left: 80px;
    }
    40% {
        top: 0px;
        left: 80px;
    }
    60% {
        top: 0;
        left: 0px;
    }
    to {
        top: -37px;
        left: 0px;
    }
}

.message {
    margin-top: 30px;
    text-transform: lowercase;
    user-select: none;
}

.uncorrect, input:invalid:not(:placeholder-shown){
    box-shadow: 0 0 3px 2px #7768AE inset;
    /* background: linear-gradient(90deg, rgb(163, 139, 248) 0%, rgb(184, 165, 255) 100%); */
}

@font-face {
    font-family: 'customFont';
    src: url('/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.transmission {
    height: 16px;
    width: 90px;
    display: flex;
    position: relative;
    align-items: center;
    background-color: grey;
    border-radius: 16px;
    z-index: 1;
    margin-bottom: 30px;
}

.transmission::before {
    content: "";
    width: 16px;
    aspect-ratio: 1/1;
    position: absolute;
    border-radius: 50%;
    z-index: 2;
    transition: all 0.7s linear;
}

.transmission::after {
    content: "";
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    left: -30px;
    box-shadow: 0 0 10px 0 grey;
}

.line, .line::before, .line::after {
    content: "";
    width: 16px;
    height: 90px;
    position: absolute;
    border-radius: 16px;
    background-color: grey;
}

.line { left: 40px; }
.line::before { left: -40px; }
.line::after { left: 40px; }

.logo {
    position: relative;
}

.logo::before {
    content: "";
    width: 90px;
    height: 90px;
    position: absolute;
    rotate: 150deg;
    top: -60px;
    left: 130px;
    background-image: url(../svg/arrow.svg);
    background-size: cover;
}

.logo::after {
    content: "click to change the authorization mode";
    position: absolute;
    width: 180px;
    top: 0px;
    left: 210px;    
    font-family: 'customFont';
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
}