.lvl {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  opacity: 0;
  transition: opacity 0.5s;
}

.motion-path {
  position: relative;
  width: 700px;
  height: 300px;
  margin: auto;
  outline: 1px dashed gray;
}

.square {
  pointer-events: none;
  position: absolute;
  width: 50px;
  aspect-ratio: 1/1;
  margin: 1px;
}

.car_pic {
  background-image: url(../svg/car.svg);
  background-size: cover;
}

.follow-path {
  position: absolute;
  top: -27px;
  left: -27px;
}

.setAnswer p {
  letter-spacing: 3px;
  font-size: 40px;
  margin: 0px;
  margin-bottom: 40px;
  font-family: 'customFont';
  text-transform: uppercase;
  text-align: center;
}

.setAnswer {
  display: flex;
  width: 600px;
  height: 400px;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  z-index: 5;
}

dialog {
  border-radius: 20px;
  background-color: #A9E4EF;
  animation: scailingShow 0.7s ease;
}

.setAnswer .description {
  width: 400px;
  /* margin-bottom: 50px; */
}

.input_time {
  font-family: 'customFont';
  font-size: 22px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  border: 3px solid black;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@keyframes scailingShow {
  from {
    opacity: 0;
    scale: 0;
  }
  30% {
    opacity: 1;
    scale: 1.3;
  }
  70% {
    opacity: 1;
    scale: 0.9;
  }
  to {
    scale: 1;
  }
}

button {
  font-family: 'customFont';
  background-color: white;
  border-radius: 10px;
  font-size: 20px;

  text-transform: uppercase;
}

.start {
  margin-top: 20px;
}

.control_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attempts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-family: 'customFont';
  font-size: 20px;
}

.attempts::before {
  content: "Attempts:";
}