.level_place {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 20px;
}

.level_place .level {
    width: 23%;
    aspect-ratio: 1/1.2;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px 5px grey;
    transition: box-shadow 0.15s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.level_place .level:hover {
    box-shadow: 0 0 10px 5px black;
}

header {
    justify-content: space-between;
}

p {
    font-family: 'customFont';
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 5px;
    margin-right: auto;
    margin-left: 20px;
}

.background {
    position: relative;
    aspect-ratio: 1/1;
    background-size: cover;
}

.timer {
    width: 70%;
    background-image: url(../svg/timer.svg);
}

.cursor {
    width: 55%;
    background-image: url(../svg/swipe.svg);
}

.explosion {
    width: 65%;
    background-image: url(../svg/explosion.svg);
}