body {
    margin: 0;
    min-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

header {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    box-shadow: 0 0 10px 0 black;
    background-color: white;
    margin: 0;
    z-index: 5;
}

header p {
    font-family: 'customFont';
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 5px;
    margin-right: auto;
    margin-left: 20px;
    user-select: none;
}

.user {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.user:hover, .active_user {
    background-color: rgb(241, 241, 241);
}

.username {
    font-family: 'customFont';
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    width: 100px;
    margin-right: 10px;
}

.icon_block {
    width: 80px;
    aspect-ratio: 1/1;
    display: block;
    background-size: cover;
}

.icon_unauthorized {
    background-image: url(../svg/icons/unauthorized.svg);
}

.icon_1 {
    background-image: url(../svg/icons/1.svg);
}

.icon_2 {
    background-image: url(../svg/icons/2.svg);
}

.icon_3 {
    background-image: url(../svg/icons/3.svg);
}

.icon_4 {
    background-image: url(../svg/icons/4.svg);
}

.icon_5 {
    background-image: url(../svg/icons/5.svg);
}

.icon_6 {
    background-image: url(../svg/icons/6.svg);
}

.icon_7 {
    background-image: url(../svg/icons/7.svg);
}

.icon_8 {
    background-image: url(../svg/icons/8.svg);
}

.icon_9 {
    background-image: url(../svg/icons/9.svg);
}

.icon_10 {
    background-image: url(../svg/icons/10.svg);
}

.icon_11 {
    background-image: url(../svg/icons/11.svg);
}

.icon_12 {
    background-image: url(../svg/icons/12.svg);
}

.icon_13 {
    background-image: url(../svg/icons/13.svg);
}

.icon_14 {
    background-image: url(../svg/icons/14.svg);
}

nav {
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    align-self: end;
    top: -100px;
    transition: top 0.3s ease-out, opacity 0.2s ease-in-out;
    width: 210px;
    opacity: 0;
    border-radius: 0 0 0 10px;
    overflow: hidden;
    background-color: rgb(233, 233, 233);
    z-index: 4;
}

.opacity {
    opacity: 1;
}

.top {
    top: 100px;
}

nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 10px 0 10px 0;
    user-select: none;
    font-family: 'customFont';
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

nav ul li:hover {
    background-color: rgb(83, 223, 101);
}

.main_menu {
    display: none;
    width: 500px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px 1px grey  ;
    margin-top: 100px;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    /* background-color: rgb(78, 206, 95); */
}

.title {
    font-family: 'customFont';
    text-transform: uppercase;
    font-size:  30px;
    letter-spacing: 5px;      
    text-align: center; 
    width: 100%;
}

.layer {
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.layer button {
    height: 50px;
    width: 60%;
    border-radius: 15px;
    border: 2px solid white;
    /* box-shadow: 0px 10px 20px 0 grey; */
    background-color: white;
    cursor: pointer;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 

    font-family: 'customFont';
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 5px;
    color: black;
    border: 2px solid rgb(83, 223, 101);

    transition: box-shadow 0.3s ease-out, scale 0.3s ease-out;
}

.layer button:hover {
    background: linear-gradient(90deg, rgb(94, 240, 36) 0%, rgb(70, 233, 176) 100%);
    box-shadow: 0 5px 10px 0 grey;
    scale: 1.05;
}

/* /* .main_menu::before {
    content: "";
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%; 
    background-size: cover;
    background-image: url(../svg/back_arrow.svg);
    box-shadow: 0 0 2px 0 black;
    position: absolute;
}  */

.clear {
    cursor: pointer;
    /* background-color: red; */
}

.back {
    display: flex;
    height: 100px;
    aspect-ratio: 1/1;
    /* margin-right: auto; */
    align-items: center;
    justify-content: center;
  }
  
  .back::before {
    content: "";
    display: flex;
    height: 40px;
    aspect-ratio: 1/1;
  
    background-image: url(../svg/back_arrow.svg);
    background-size: cover;
  }
  
  .back:hover {
    background-color: rgb(241, 241, 241);;
  }

@font-face {
    font-family: 'customFont';
    src: url('../fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
